@import "styles";

.root {
  display: block;
  background-color: $c_grey;
  padding: 8px 16px;

  &:not(:first-child) {
    margin-top: 8px;
  }

  &.isHidden {
    display: none;
  }

  &.isSuccess {
    border: 1px solid $c_green;
  }
  &.isFailed {
    border: 1px solid $c_red;
  }
}

.title {
  color: $c_white;
}
